.header-tools {
    display: block;
}

.quick-tools-content {
    height: 100%;
    width: 100%;
    display: inline-flex;
}

.quick-tools-buttons {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    overflow: auto;
    height: 70%;
    width: 100%;
}

.quick-tools-buttons > button {
    font-size: 1.85vh;
    margin-bottom: 0.325rem;
    border: none;
    background-color: var(--current-card);
    border-radius: 0.46875rem;
    filter: drop-shadow(0rem 0.3125rem 0.375rem var(--current-shadow));
    cursor: pointer;
    transition: 0.3s;
}

.quick-tools-tool {
    width: 100%;
}

.quick-tools-buttons > button:hover {
    filter: drop-shadow(0rem 0.3125rem 0.375rem var(--current-shadow-hover));
}

.quick-tools-buttons > button:active {
    filter: none;
}