.header-other {
    display: block;
}

.other-content {
    height: 100%;
    width: 100%;
    display: inline-flex;
}

.other-buttons > button {
    font-size: 1.85vh;
    margin-bottom: 0.325rem;
    border: none;
    background-color: var(--current-card);
    border-radius: 0.46875rem;
    filter: drop-shadow(0rem 0.3125rem 0.375rem var(--current-shadow));
    cursor: pointer;
    transition: 0.3s;
}

.other-buttons > button:hover {
    filter: drop-shadow(0rem 0.3125rem 0.375rem var(--current-shadow-hover));
}

.other-buttons > button:active {
    filter: none;
}